.calculator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-size: 24px;
  color: #444;
}

.input,
.output {
  display: flex;
  justify-content: flex-end;
  width: 300px;
  height: 50px;
  line-height: 50px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 0 10px;
}

.output {
  font-weight: bold;
  font-size: 30px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

button {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 24px;
  background-color: #2d2d2d;
  cursor: pointer;
  transition: background-color 0.3s;
}

.mt {
  width: 300px;
  margin-top: 20px;
}

button:hover {
  background-color: #444;
}